.heading-section {
  background: linear-gradient(to right, rgb(2, 228, 171), rgb(74, 215, 240));
  text-align: center;
  padding: 100px;

  h1 {
    font-weight: bold;
    color: #fff;
    text-shadow: 0 1px 2px rgba(black, 0.2);
  }
}

.container {
  max-width: 800px;
}

.add-todo-box {
  padding: 25px;
  box-shadow: 0 4px 12px rgba(black, 0.1);
  border-radius: 4px;
  margin-top: -50px;
  background: #fff;
}

.todo-item {
  display: flex;
  align-items: center;
  font-size: 18px;
  padding: 30px 15px;
  border-bottom: 1px solid #eee;
  cursor: pointer;

  .check-box {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    margin-right: 20px;
    border: 2px solid #eee;
    border-radius: 50%;
    height: 28px;
    width: 28px;
    transition: background-color 0.2s;

    i.material-icons {
      font-size: 20px;
      margin: 0 auto;
      opacity: 0; // hide by default
      transition: opacity 0.2s;
    }
  }
}

.todo-item:hover .check-box {
  background: #eee;
  i.material-icons {
    opacity: 0.3;
  }
}
