.heading-section {
  background: linear-gradient(to right, rgb(2, 228, 171), rgb(74, 215, 240));
  text-align: center;
  padding: 100px;

  h1 {
    font-weight: bold;
    color: #fff;
    text-shadow: 0 1px 2px rgba(black, 0.3);
  }
}

.container {
  max-width: 800px;
}

.add-todo-box {
  padding: 25px;
  box-shadow: 0 4px 12px rgba(black, 0.1);
  border-radius: 4px;
  margin-top: -50px;
  background: #fff;
}

.todo-item {
  display: flex;
  align-items: center;
  font-size: 18px;
  padding: 30px 15px;
  border-bottom: 1px solid #eee;
  cursor: pointer;

  .check-box {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    margin-right: 20px;
    border: 2px solid #eee;
    border-radius: 50%;
    height: 28px;
    width: 28px;
    transition: background-color 0.3s;

    i.material-icons {
      font-size: 20px;
      margin: 0 auto;
      opacity: 0; // hide by default
      transition: opacity 0.3s;
    }
  }

  &.completed {
    color: #aaa;

    .check-box {
      background: rgb(11, 223, 170);
      border-color: rgb(11, 223, 170);

      i.material-icons {
        opacity: 1;
        color: #fff;
      }
    }
  }
}

.todo-item:hover .check-box {
  background: #eee;
  i.material-icons {
    opacity: 0.3;
  }
}

.todo-item {
  position: relative;

  .todo-controls-box {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;

    // hidden by defualt
    opacity: 0;
    visibility: hidden;
    transform: translateY(5px);
    transition: opacity 0.3s, visibility 0.3s, transform 0.3s;

    .todo-control-button {
      background: #eee;
      padding: 7px 10px;
      display: flex;

      i.material-icons {
        font-size: 20px;
      }

      &:hover {
        color: #333;
        background: #ccc;
        transition: background 0.3s;
      }

      &:active {
        background: #ddd;

        &.is-danger {
          &:active {
            i.material-icons {
              color: red;
            }
          }
        }
      }
    }
  }

  &:hover {
    .todo-controls-box {
      opacity: 1;
      visibility: visible;
      transition-delay: 0.5s;
      transform: translateY(0);
    }
  }
}
